@import "~styles/utils";

.navbar {
    padding: 1rem 2rem;

    @include media("<=tablet") {
        padding: .75rem 1.5rem;
    }
    @include media("<=mobile") {
        padding: .5rem 1rem;
    }
}